<hr>
<div id="footer">
	<div class="row copyright">
		<p class="text-center">
			Feel free to fork the <a href="https://github.com/gam-phon/theme-for-my-blog">theme</a>, Yaser Alraddadi
		</p>
	</div>

	<div class="row links">
		<p class="text-center">
			<a href="http://twitter.com/gam_phon"><i class="icon-twitter-sign icon-2x"></i></a>
			<a href="https://plus.google.com/106275081470874250475"><i class="icon-google-plus-sign icon-2x"></i></a>
			<a href="http://sa.linkedin.com/pub/yaser-alraddadi/61/271/b71"><i class="icon-linkedin-sign icon-2x" ></i></a>
			<a href="https://github.com/gam-phon"><i class="icon-github-sign icon-2x"></i></a>
			<a href="http://yr.sa/feeds/all.rss.xml" rel="alternate" title="Recent Blog Posts"><i class="icon-rss icon-2x"></i></a>
		</p>
	</div>
</div>
