<hr>
<div id="footer">
	<div class="row copyright offset4">
		<div class="span">
			Feel free to fork the <a herf="https://github.com/gam-phon/my-template">theme</a>, Yaser Alraddadi
		</div>
	</div>

	<div class="row links offset4">
		<div class="span">
			<ul>
				<li><a href="http://twitter.com/gam_phon"><i class="icon-twitter-sign icon-2x"></i></a></li>
				<li><a href="https://plus.google.com/106275081470874250475"><i class="icon-google-plus-sign icon-2x"></i></a></li>
				<li><a href="http://sa.linkedin.com/pub/yaser-alraddadi/61/271/b71"><i class="icon-linkedin-sign icon-2x" ></i></a></li>
				<li><a href="https://github.com/gam-phon"><i class="icon-github-sign icon-2x"></i></a></li>
				<li><a href="http://yr.sa/feeds/all.rss.xml" rel="alternate" title="Recent Blog Posts"><i class="icon-rss icon-2x"></i></a></li>
			</ul>
		</div>
	</div>
</div>
