<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<div class="nav-collapse collapse">
				<ul class="nav">

					<li style="margin-left: -45px;">
						<div class="dropdown">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="padding: 4px 12px;"><i class="icon-reorder"></i>
							Sections
							</a>

							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="position: fixed; top: 0; left: 0;">
								{% for section in SECTIONS %}
									<li><a href="{{ SITEURL }}/{{ section[1]}}">{{ section[0] }}</a> </li>
								{% endfor %}

								<li class="divider"></li>

								<!--
								<li class="dropdown-submenu">
									<a tabindex="-1" href="#">More options</a>
									<ul class="dropdown-menu">
										<li><a tabindex="-1" href="#">Another action</a></li>
										<li><a tabindex="-1" href="#">Something else here</a></li>
									</ul>
								</li>
								-->

								{% for tag in tag_cloud %}
								<li class="tag-{{ tag.1 }}"><a href="{{ SITEURL }}/{{ tag.0.url }}">{{ tag.0 | capitalize }}</a></li>
								<!--
								<li><a tabindex="-1" href="/tag/deployment.html">Deployment</a></li>
								<li><a tabindex="-1" href="/tag/django.html">Django</a></li>
								-->
								{% endfor %}

							</ul>
						</div>
					</li>

					<li><a href="/"><i class="icon-home"></i> Home</a></li>
				</ul>
				<div class="span offset3">
					<a class="brand" href="/">Yaser Alraddadi</a>
				</div>

				<form class="nav navbar-form pull-right" name="google-search" method="get" action="http://www.google.com/search" style="margin-right: -45px;">
					<input type="hidden" name="sitesearch" value="http://yr.sa/" />
					<input class="span2" name="q" type="text"/>
					<button type="submit" class="btn"><i class="icon-search"></i> Search</button>
				</form>
		</div><!--/.nav-collapse -->
		</div>
	</div>
</div>
